

<div class="container">
    <div class="well well-sm">
        <strong>Account Details</strong>
    </div>
    
    <div id="products" class="well well-sm">
		<div>
				
				<div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/400x250/000/fff" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{FirstName}} {{LastName}}</h4>
                        <i class="glyphicon glyphicon-envelope"></i>{{EmailId}}
                        <p>
                        <i class="glyphicon glyphicon-gift"></i>Date of birth: {{DateOfBirth}}    
                            <br />
                        	<i class="glyphicon glyphicon-map-marker"></i><cite title="Address">{{Address}}</cite>     
                            <br />
                           <i class="glyphicon glyphicon-gift"></i>Card Number: {{CreditCardNumber}}
                        </p> 
                       
                    </div>
                </div>
				
				
						
							
	    </div>
    </div>
</div>