

<div class="container">
    <div class="well well-sm">
        <strong>Items In Cart</strong>

    </div>
    
    <div id="products" class="row list-group">

        
        <div class="item  col-xs-4 col-lg-4"  ng-repeat="product in allProductsInCart">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{product.ItemName}}</h4>
                    <p class="group inner list-group-item-text">
                        {{product.ItemDescription}} </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                ${{product.Price}}
                            </p>
                            <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" ng-click= "removeItemFromTheCart(product.ItemId)">Remove</a>
	                        </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
	<div class="well well-sm">
        <strong><h2>Total: ${{TotalCostOfCart}}</h2></strong>

    </div>    
    
    
    
    
    
</div>